# Dependencies
node_modules/

# Environment variables
.env
.env*.local

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

DBaccess.js