<!DOCTYPE html>
<html lang="en">

<%- include('./partials/HEAD.ejs', {title}) %>
    
<body>
    <%- include('./partials/header.ejs', {title})  %>
    <%- include('./partials/nav.ejs') %>
    <p>This is the about page</p>
</body>
</html>