<!DOCTYPE html>
<html lang="en">

<%- include('./partials/HEAD.ejs', {title}) %>

<body>
    <%- include('./partials/header.ejs', {title})  %>
    <%- include('./partials/nav.ejs') %>
    <p>This is my first attempt at a web server. If you're reading this it means I am a web Ninja 10x developer that should 100% be hired.</p>
</body>
</html>